body {
font-family: 'Courier New', Courier, monospace;
min-height: 100vh;
background-color: #ffffff;
color: black;
transition: all 0.6s ease;
overflow-x: hidden;
margin: 0;
padding: 0;
}
body.темная {
background-color: #272727;
color: rgb(231, 231, 231); 
}
.скрыт {
height: 0 !important;
max-height: 0 !important;
margin: 0 !important;
padding: 0 !important;
border-width: 0 !important;
transform: translateX(-150%);
}
#calk {
margin: 5px;
border: solid black 4px;
border-radius: 5px;
max-width: 200px;
height: 60px;
font-size: 10px;
background-color: #27272700;
transition: all 0.3s ease;
}
#calk:hover {
background-color: #8c8c8c;
}
#calk:active {
transform: scale(0.95);
}
#group {
display: flex;
flex-wrap: wrap;
flex-shrink: 1;
margin-left: 7px;
margin-top: 2px;
margin-bottom: 1px;
border-radius: 10px;
max-width: 200px;
min-width: 280px;
border: solid black 5px;
background-color: darkgrey;
max-height: 500px;
transition: transform 0.3s ease, opacity 0.8s ease, visibility 0.8s ease, background-color 0.3s ease, max-height 0.3s ease-in-out;
}
#group:hover {
background-color: rgb(95, 95, 95)y;
}
#tools {
margin-top: 5px;
margin-bottom: 0;
max-width: 150px;
border: solid black 2px;
border-radius: 6px;
transition: all 0.3s ease;
background-color: #eaeaea;
&:active {
background-color: #828282;
color: white;
}
}
#search {
display: flex;
flex-direction: column;
margin-top: 150px;
align-items: center;
justify-content: center; 
color: white;
}
#input {
max-width: auto;
height: 50px;
font-size: 24px;
background-color: rgb(179, 179, 179);
overflow: scroll;
border-radius: 10px;
border: solid black 3px;
transition: transform 0.3s ease, background-color 0.3s ease;
}
#input:hover {
background-color: rgb(129, 129, 129);
}
#input:focus {
background-image: linear-gradient(to left, rgba(222, 222, 222, 0.588), rgba(81, 81, 81, 0.691));
}
#sites {
display: flex;
flex-wrap: wrap;
flex-grow: 0;
margin-top: 15px;
justify-content: center;
gap: 15px;
flex-direction: row;
max-width: 600px;
height: 70px;
}
.sites {
max-width: 50px;
max-height: 50px;
border-radius: 50%;
transition: transform 0.1s ease;
border: solid black 5px;
&:hover{
transform: scale(1.05);
}
&:active {
transform: scale(0.95);
}
}
::placeholder {
color: white;
}
h1 {
font-family: Oswald;
}
#result {
border: solid black 3px;
min-width: 40px;
max-width: 80px;
margin-left: 5px;
border-radius: 7px;
height: 50px;
font-size: 20px;
background-color: rgb(179, 179, 179);
transition: background-color 0.3s ease;
&:hover {
background-color: #ababab;
}
}
#list {
display: flex;
flex-direction: column;
gap: 5px;
list-style: square;
background-color: rgb(177, 177, 177);
max-width: 100px;
border-radius: 5px;
transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.5s ease, background-color 0.3s ease;
transform: translateX(0);
min-width: 150px;
width: auto;
height: auto;
&:hover {
background-color: #9c9c9c;
}
}
#list.hidden {
transform: translateX(-150%);
opacity: 0;
visibility: hidden;
}
#searchValue {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
#Theme {
border-radius: 7px;
margin-bottom: 5px;
background-color: #eaeaea;
transition: all 0.3s ease;
border: solid black 2px;
&:active {
background-color: #a8a8a8;
color: white;
}
}
#menu {
margin-left: -15px;
margin-top: 0;
margin-bottom: 3px;
border: none;
min-width: 70px;
min-height: 30px;
max-width: 1px;
max-height: 50px;
border-radius: 7px;
background-color: #eaeaea00;
transition: all 0.3s ease;
&:active {
background-color: #a8a8a800;
transform: scale(0.85);
}
}
#menuDiv {
position: fixed;
left: 5px;
top: 5px;
}
#time {
position: relative;
font-size: 100px;
margin-bottom: 0;
text-align: center;
margin: 0px;
top: 70px;
left: 0px;
opacity: 0;

}
#href {
border: #000000;
border-radius: 7px;
min-width: 70px;
min-height: 20px;
}
.hidden {
opacity: 1;
visibility: hidden;
}
.hidden2 {
opacity: 1;
visibility: hidden;
}